/* .button-container {
} */

.button-content-container {
  margin: 15px;
  padding: 15px;

  background-color: #e5e5e5;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.button-card {
  padding: 10px 40px;
  background-color: #e5e5e5;
}

.btn-icon {
  background-color: #00285f;
  width: 174px;
  height: 40px;
}

.btn-icon p {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.button-text {
  align-content: center;
  text-align: center;

  padding: 0px 28px 10px;
}

.button-text p {
  font-size: 18px;
  color: #585858;
}

@media (min-width: 576px) {
  .button-content-container {
    flex-direction: row;
    border-radius: 10px;
  }

  .button-card {
    padding: 40px 15px 40px 60px;
  }

  .button-text {
    padding: 40px 40px 40px 0;
    line-height: 20px;
    text-align: left;
  }

  .button-text p {
    margin: 0;
  }
}

@media (min-width: 1366px) {
  .button-content-container {
    margin: 10px 70px;
    padding: 15px 60px;
  }
}
